[submodule "tuw_geometry"]
	path = tuw_geometry
	url = git@github.com:tuw-robotics/tuw_geometry.git
[submodule "tuw_msgs"]
	path = tuw_msgs
	url = git@github.com:tuw-robotics/tuw_msgs.git
[submodule "tuw_teleop"]
	path = tuw_teleop
	url = git@github.com:tuw-robotics/tuw_teleop.git
[submodule "tuw_control"]
	path = tuw_control
	url = git@github.com:tuw-robotics/tuw_control.git
[submodule "tuw_rviz"]
	path = tuw_rviz
	url = git@github.com:tuw-robotics/tuw_rviz.git 
